<div class="row">
<div class="col-md-8">
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>Full Name</th>
      <th>Job Title</th>
      <th>Department</th>
      <th>Location</th>
      <th>Age</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td class="hidden">{{user.id}}</td>
      <td>{{user.fullname}}</td>
      <td>{{user.title}}</td>
      <td>{{user.department}}</td>
      <td>{{user.location}}</td>
      <td>{{user.age}}</td>
      <td><button class="btn btn-success" (click)="deleteUser(user)"> Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="col-md-4 user-container">
  <h2 class="text-center">Add User</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Full Name:</label>
      <input type="text" formControlName="fullname" placeholder="fullname" name="username" class="form-control" id="username">
    </div>

    <div class="form-group">
      <label for="password">Job Title:</label>
      <input type="text" formControlName="title" placeholder="title" name="password" class="form-control" id="password">
    </div>

    <div class="form-group">
      <label for="firstName">Department:</label>
      <input formControlName="department" placeholder="department" name="department" class="form-control" id="firstName">
    </div>

    <div class="form-group">
      <label for="lastName">Location:</label>
      <input formControlName="location" placeholder="location" name="location" class="form-control" id="lastName">
    </div>

    <div class="form-group">
      <label for="age">Age:</label>
      <input type="number" formControlName="age" placeholder="age" name="age" class="form-control" id="age">
    </div>
    <button class="btn btn-success">Add</button>
  </form>
</div>

</div>